.cardsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: calc(3 * 380px + 2 * 40px);
  width: 100%;
}

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    gap: 20px;
    padding: 0 8px;
  }
}
