@import "../../constants/constants.css";

.tagText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 500px;
  width: 100vw;
  background-color: #f6f6ff;
  padding: 50 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

@media (max-width: var(--mobile-width)) {
  .tagText {
    padding: 30px 10px;
    min-height: 150px;
  }
}

h3 {
  text-align: center;
  font-size: 60px;
  color: var(--primary-color);
  margin-bottom: 40px;
  margin-top: 90px;
}

@media (max-width: var(--mobile-width)) {
  h3 {
    padding: 0 50px;
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: 30px;
  }
}

h5 {
  text-align: center;
  font-size: 20px;
  color: #333e49;
}

@media (max-width: var(--mobile-width)) {
  h5 {
    padding: 0 20px;
    font-size: 20px;
  }
}
