@import "../../constants/constants.css";

.weatherCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 250px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Lato-Regular, sans-serif;
  background-color: #f9f9f9;
  margin-top: 80px;
}

.weatherCard:hover {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temperature {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: bolder;
  margin-left: 40px;
}

.weatherIcon {
  color: var(--primary-color);
  font-size: 24px;
  width: 64px;
  height: 64px;
}

.city {
  color: var(--primary-color);
  font-size: 20px;
  margin-left: 40px;
}
